@font-face {
  font-family: "Segoe UI";
  src: local(-apple-system);
}

/*html, body: {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
}*/

